* {
    border: 1px dashed blue;
}

h2 {
    font-size: 15px;
}

div, p, h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.content {
    display: grid;
    grid-template-rows: 25vh 6fr;
}

.sidebar {
    background-color: rgb(164, 164, 255);
    display: grid;
    grid-template-rows: 100px 300px 300px;
    color: white;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo > * {
    display: inline-block;
    width: 40px;
}

.logo > h1 {
    flex: 1;
}

 /* outlines to delete at end */
.header > div, .top > div {
    border: 1px dashed black;
}

.nav, .admin {
    margin: 10px;
    font-size: 20px;
}

.admin {
    align-self: end;
    margin-bottom: 20px;
}

.sidebar-item {
    margin: 10px;
    font-weight: bold;
}

.header {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 10px 5px 5px red;
}

.top {
    display: grid;
    grid-template-columns: 4fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

.search > img {
    height: 40px;
}

#notifications {
    display: flex;
    height: 40px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0);
    border: 0;
    padding: 0;
    justify-self: end;
}

#user-profile {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    justify-self: end;
    grid-template-rows: 1fr;
    flex-wrap: nowrap;
    margin-right: 10px;
}

#user-profile > img {
    height: 40px;
}

#search-bar {
    border-radius: 20px;
    height: 30px;
    width: 100%;
    border-width: 1px;
    background-color: rgb(236, 236, 236);
}

.intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100px;
}

.greeting > img {
    height: 80px;
    grid-row: 1 / 3;
}

.greeting > div {
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin: 0;
    padding: 0;
}

.greeting > div > * {
    margin: 0;
    align-self: center;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: end;
    align-items: end;
    gap: 5px;
}

.action-button {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background-color: pink;
    font-weight: bold;
    border-width: 0;
    color: black;
}

.main {
    background-color: rgb(255, 234, 252);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid: 0.5fr 4fr 4fr / repeat(2, 1fr);
        gap: 10px;

}

.projects > h3 {
    grid-column: 1 / 3;
    height: 20px;
    margin: 0;
    padding: 0;
    align-self: center;
}

.project {
    background-color: aliceblue;
    border-radius: 20px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;

}

.user > img {
    grid-template-rows: 1 / 3;
}

.other-username {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: 0;
}

.user-caption {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: 0;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 8fr;
    margin: 0;
    padding: 0;
}

