p, h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color: rgb(164, 164, 255);
    display: grid;
    grid-template-rows: 100px 500px 500px;
}

.sidebar > div {
    border: 1px solid black;
}

.main {
    background-color: grey;
}

.header {
    background-color: rgb(237, 255, 164);
}