* {
    /* border: 1px dashed blue; */
}

h2 {
    font-size: 15px;
}

div,
p,
h1,
h2,
h3,
h4 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.content {
    display: grid;
    grid-template-rows: 20vh 6fr;
}

.sidebar {
    background-color: rgb(164, 164, 255);
    display: grid;
    grid-template-rows: 100px 300px 300px;
    color: white;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px;
    margin-bottom: 80px;
    margin-top: 20px;
}

.logo>* {
    max-width: 40px;
}

.logo>h1 {
    flex: 1;
    margin: 0px;
}

.nav,
.admin {
    margin: 10px;
    font-size: 20px;
}

.admin {
    align-self: end;
    margin-bottom: 20px;
}

.sidebar-item {
    margin: 10px;
    font-weight: bold;
}

.header {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 5px 5px 5px red;
    padding: 20px;
    padding-top: 0px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.top>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    flex-grow: 1;

}

.search>img {
    height: 40px;
}

#notifications {
    display: flex;
    height: 40px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0);
    border: 0;
    padding: 0;
    justify-self: end;
}

#user-profile {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    justify-self: end;
    grid-template-rows: 1fr;
    flex-wrap: nowrap;
    margin-right: 10px;
    gap: 10px;
}

#user-profile>img {
    height: 40px;
}

#search-bar {
    border-radius: 20px;
    height: 30px;
    width: 100%;
    border-width: 0px;
    background-color: rgb(236, 236, 236);
}

.intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    height: 100px;
    align-items: center;

}

.greeting>img {
    height: 80px;
    grid-row: 1 / 2;
}

.greeting>div>* {
    margin: 0;
}

.greeting>div {
    align-items: center;
    gap: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: end;
    align-items: end;
    gap: 5px;
}

.action-button {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background-color: pink;
    font-weight: bold;
    border-width: 0;
    color: black;
}

.main {
    background-color: rgb(255, 234, 252);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#projects-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 20px;
    padding: 0;
    align-self: center;
}

.project {
    background-color: rgb(255, 251, 255);
    border-radius: 10px;
    padding: 20px;
    height: 200px;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.right-side {
    grid-column: 2 / 3;
    padding-left: 10px;
}

#announcements-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 20px;
    margin-left: 10px;
    padding: 0;
    align-self: center;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(254, 249, 249);
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
}

hr {
    margin-bottom: 0px;
    background-color: rgb(209, 209, 209);
    border: 0;
    height: 1px;

}

.user {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;

}

.user>img {
    grid-template-rows: 1 / 3;
}

.other-username {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: 0;
}

.user-caption {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: 0;
}

.trending>h3 {
    margin-top: 40px;
}

.users {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgb(254, 249, 249);
    padding: 16px;
    border-radius: 10px;
    gap: 10px;
}

.user {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 8px;
}

.user>img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    height: 60px;
    justify-self: flex-end;
}

.other-username{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: flex-end;
}

.user-caption{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: flex-start;
}
